.teacher-card {
  background: var(--color-box-base);
  border: 1px solid var(--color-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.teacher-card header {
  padding:  3.2rem 2rem;
  display: flex;
  align-items: center;
}

.teacher-card header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.teacher-card header div {
  margin-left: 2.4rem;
}

.teacher-card header div strong {
  font: 700 2.4rem 'Archivo', sans-serif;
  display: block;
  color: var(--color-text-title);
}

.teacher-card > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  /* altura de linha tem que ser por em */
  line-height: 1.75em;
}

.teacher-card footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacher-card footer .price {
  color: var(--color-primary);
  font-size: 1.6rem;
  display: block;
}

.teacher-card footer .btn-contact {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem 'Archivo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
}

.teacher-card footer .btn-contact:hover {
  background: var(--color-secundary-dark);
}

@media (min-width: 700px) {

  .teacher-card > p {
    padding: 0 3.2rem;
  }

  .teacher-card footer .price {
    display: initial;
    margin-left: 1.6rem;
  }

  .teacher-card footer .btn-contact {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }

  .teacher-card footer .btn-contact img {
    margin-right: 1.6rem;
  }


}
